main {
    height: 70vh;

    background-color: white;

	display: inline-flex;
}

.main-left-column {
    height: 100%;
    width: 20vw;

    background-color: #ebc095;
}

.main-right-column {
    height: 100%;
    width: 80vw;
}